<ion-view view-title="布局" >
    <ion-content>
        <div class="row">
            <div class="col col-33"><img src="../../images/eletronicShop/xc3.png" /></div>
            <div class="col col-33"><img src="../../images/eletronicShop/xc5.png" /></div>
            <div class="col col-33"><img src="../../images/eletronicShop/xc3.png" /></div>
        </div>

        <div class="row">
            <div class="col">
                <img src="../../images/shopfront/8.png" />
            </div>
            <div class="col">
                <img src="../../images/eletronicShop/1.jpg" />
            </div>
            <div class="col">
                <img src="../../images/eletronicShop/1.jpg" />
            </div>
        </div>

        <div class="row">
            <div class="col">1
                <br>2
                <br>3
                <br>4
            </div>
            <div class="col col-top">.col-top</div>
            <div class="col col-center">.col-center</div>
            <div class="col col-bottom">.col-bottom</div>
        </div>

        <div class="row row-bottom">
            <div class="col col-33"><img src="../../images/eletronicShop/xc2.png" /></div>
            <div class="col col-33"><img src="../../images/eletronicShop/xc3.png" /></div>
            <div class="col col-33"><img src="../../images/eletronicShop/xc5.png" /></div>
        </div>

    </ion-content>
</ion-view>
