<ion-view view-title="搜索店铺内商品" >
    <ion-content has-bouncing="true">

      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-android-search placeholder-icon "></i>
          <input type="search" placeholder="搜索店铺内商品">
        </label>
        <button class="button button-clear">
          确定
        </button>
      </div>

      <div class="list">

        <a class="item item-thumbnail-left" ng-click="toGoodsdetail()">
          <img ng-src="../../images/shopfront/3.png">
          <h2>aj简版</h2>

<br>
          <h4 style="color: red;">￥110.5</h4>
          <h4 style="color: #B5B5B5;">20人付款</h4>
        </a>

        <a class="item item-thumbnail-left">
          <img ng-src="../../images/shopfront/7.png">
          <h2>科比简版</h2>
<br>
          <h4 style="color: red;">￥130</h4>
          <h4 style="color: #B5B5B5;">10人付款</h4>
        </a>
        <a class="item item-thumbnail-left">
          <img ng-src="../../images/shopfront/6.png">
          <h2>詹姆斯简版</h2>
<br>
          <h4 style="color: red;">￥150</h4>
          <h4 style="color: #B5B5B5;">3人付款</h4>
        </a>
        <a class="item item-thumbnail-left">
          <img ng-src="../../images/shopfront/8.png">
          <h2>杜兰特简版</h2>
<br>
          <h4 style="color: red;">￥160</h4>
          <h4 style="color: #B5B5B5;">1人付款</h4>
        </a>

      </div>

    </ion-content>
</ion-view>
